In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
imdb_tb_df = pd.read_csv('../rawData/zippedData/imdb.title.basics.csv.gz')
# preview file
imdb_tb_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [8]:
#pulled a single value
type(imdb_tb_df['genres'][1])

str

In [10]:
imdb_tb_df['genres'] = imdb_tb_df['genres'].str.split(', ')

In [11]:
imdb_tb_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action,Crime,Drama]"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography,Drama]"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama]
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"[Comedy,Drama]"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy,Drama,Fantasy]"

In [30]:
my_list = imdb_tb_df['genres'][0]
matching_doc = [s for s in my_list if "Documentary" in s]
matching_drama = [s for s in my_list if "Drama" in s]
matching_comedy = [s for s in my_list if "Comedy" in s]
matching_horror = [s for s in my_list if "Horror" in s]
matching_thriller = [s for s in my_list if "Thriller" in s]
matching_action = [s for s in my_list if "Action" in s]
matching_romance = [s for s in my_list if "Romance" in s]


for genre in imdb_tb_df['genres']:
    if matching_drama:
        imdb_tb_df['Drama'] = 1
    else:
        imdb_tb_df['Drama'] = 0

In [31]:
imdb_tb_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action,Crime,Drama]",1
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography,Drama]",1
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama],1
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"[Comedy,Drama]",1
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy,Drama,Fantasy]",1

In [39]:
imdb_tb_df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Documentary,Comedy,Horror,Thriller,Action,Romance
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action,Crime,Drama]",1,0,0,0,0,1,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography,Drama]",1,0,0,0,0,1,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama],1,0,0,0,0,1,0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"[Comedy,Drama]",1,0,0,0,0,1,0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy,Drama,Fantasy]",1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,[Drama],1,0,0,0,0,1,0
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,[Documentary],1,0,0,0,0,1,0
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,[Comedy],1,0,0,0,0,1,0
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,1,0,0,0,0,1,0
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,[Documentary],1,0,0,0,0,1,0